
body{
  margin: auto;
  width: 640px; 
  padding: 50px;
  font-family: 'Avenir', sans-serif; 
  background-color: rgb(214, 214, 214);
      }
 #bordermifoto{
   border-image: url(cv.png) 30 round;
   border-radius: 8px;
 }
 h1 {
  color: rgb(0, 0, 0);
  font-family: Georgia,serif;
  font-size: 215%;
  text-align:right;
  border-style: SOLID;
  border-width: 0cm;
  background-color: rgb(210, 210, 210);

}
 img{
  display: block;
  margin-left: top;
  margin-right: top;
  width: 30%;
 }
 h2{
  font-family: monospace;
  font-size: 100%;
  font-weight: bold;
  text-align: left;
  color: black;
  border-style: SOLID;
    border-width: 0cm;
    background-color: #d2d2d2;
 }

p{
  font-family:monospace ;
  font-size: 100%;
  
  text-align: left;
  color: black;
 
}

legend{
    font-family: monospace ;
    font-size: 100%;
    border-style: SOLID;
    border-width: 0cm;
    color: rgb(10, 10, 10);
    background-color: #d2d2d2;
    text-align: left;
    font-weight: bold;

}
li{
  font-family: monospace ;
  font-size: 100%;
  color: rgb(0, 0, 0);
  text-align: left;
}

section{
  background-color: white;
  margin: auto;
  width: 640px; 
  padding: 50px;
}
